.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.App-header {
  background-color: #4382ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.div_flex_row {
  padding: 0;
  display: flex;
  flex-direction: row;
}
